/****************************** estilos generales ********************/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.8%;
}

body{
    background: #555a70;
    margin: 0;
    padding: 0;
}

/****************************** estilos del header *******************/
.header{
    background-color: #13a4a4;
}
.header-figure__img{
    width: 3vw;
    min-width: 30px;
}
.header-figure__txt{
    color: white;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.header__figure, .header__nav, .header-nav__ul li{
    display: inline-block;
    margin: 5px;
}
.header__nav{
    position: absolute;
    right: 0;
    top: 1.5rem;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.header-nav__ul{
    list-style: none;
}
.header-nav__ul .nav-ul__li a{
    text-decoration: none;
    color: white;
}
.nav-ul__li a:hover{
    color: #274907;
}
.nav-ul__li a:active{
    color: rgb(207, 102, 16);
}
.nav-ul__li a::after{
    padding-left: 2rem;
    content: " | ";
}
/************************ estilos del main **************************/
main{
    width: 70%;
    min-height: 500px;
    border: 0.25rem solid grey;
    margin: 0 auto;
    padding:  0.2rem 0.35rem;
    font-size: 1.7rem;
    background-color: rgb(230, 243, 241);
}

/************************* estilos del footer ************************/