/* estilos generales */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.8%;
}

body{
    background: #555a70;
    margin: 0;
    padding: 0;
}
/* estilos del header */

nav{
    background-color: #13a4a4;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}
nav .main-img{
    width: 3vw;
    min-width: 30px;
    margin-top: 1rem;
    margin-left: 1rem;
}
.main-nav{
    list-style: none;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
}
.main-nav__item{
    display: inline-block;
    padding-left: 2rem;
}
.main-nav__item a{
    padding: 0rem 1rem;
   color: white;
   text-decoration: none;
}
.main-nav__item a:hover{
    color: #274907;
    /* color: #1a5749; */
}
.main-nav__item a:active{
    color: rgb(207, 102, 16);
}
.main-nav__item a::after{
    padding-left: 2rem;
    content: " | ";
}
/* estilos del main */
main{
    width: 70%;
    min-height: 500px;
    border: 0.25rem solid grey;
    margin: 0 auto;
    padding:  0.2rem 0.35rem;
    font-size: 1.7rem;
    background-color: rgb(230, 243, 241);
}

/* estilos del footer */