/* estilos generales */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.8%;
}
/* estilos del header */
nav{
    background-color: #13a4a4;
    border-radius: 1rem;
    margin: 0;
    padding: 0;
}
nav .main-img{
    width: 5rem;
    margin-top: 1rem;
    margin-left: 1rem;
}
.main-nav{
    list-style: none;
    padding-left: 80rem;
    display: inline-block;
    font-size: 1.8rem;
    font-family: Arial, Helvetica, sans-serif;
}
.main-nav__item{
    display: inline-block;
    padding-left: 2rem;
}
.main-nav__item a{
    padding: 0rem 1rem;
   color: white;
   text-decoration: none;
}
.main-nav__item a:hover{
    color: #274907;
    /* color: #1a5749; */
}
.main-nav__item a:active{
    color: rgb(207, 102, 16);
}
.main-nav__item a::after{
    padding-left: 2rem;
    content: "  ";
}
/* estilos del main */
main{
    width: 100%;
    height: 50rem;
    border: 0.25rem solid grey;
    padding:  0.2rem 0.35rem;
    font-size: 1.7rem;
}
body{
    background: #555a70;
    margin: 0;
    padding: 0;
}
/* estilos del footer */